{% extends 'layout.html' %}

{% block title %}Add User{% endblock %}

{% block body %}

  <div class="container">
    <div class="alert alert-warning">Username must be between 6 and 20 characters,
                                    Password must be between 8 and 20 characters</div>
    <form action="" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <label>Username</label>
      <input type="text" class="form-control" placeholder="Username" name="username">
      <ul>
        <li>Between 6 and 20 characters</li>
        <li>Only letters and numbers are allowed</li>
        <li>Must be unique</li>
      </ul>
      <br>
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password1">
      <ul>
        <li>Between 8 and 20 characters</li>
      </ul>
      <br>
      <label>Password Confirmation</label>
      <input type="password" class="form-control" placeholder="Password Confirmation" name="password2">
      <ul>
        <li>Between 8 and 20 characters</li>
      </ul>
      <br>
      <label>Role</label>
      <select class="form-control" name="role">
        <option value="{{ data['roles'].ADMIN.value }}">{{ data['roles'].ADMIN.name.capitalize() }}</option>
        <option value="{{ data['roles'].USER.value }}">{{ data['roles'].USER.name.capitalize() }}</option>
      </select>
      <br>
      {% if data['groups'] %}
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
            <th>Group ID</th>
            <th>Group Name</th>
            <th>Add/Remove</th>
          </tr>
          {% for g_id, g_name, user_in_group in data['groups'] %}
            <tr>
              <td>{{ g_id }}</td>
              <td>{{ g_name }}</td>
              <td><input type="checkbox" name=group value="{{ g_id }}"
                ></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div class="alert alert-info" role="alert">No groups found</div>
      {% endif %}
      <br>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </div>

{% endblock %}
