{% extends 'layout.html' %}

{% block title %}Groups{% endblock %}

{% block body %}

  <script>
    jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.location = $(this).data("href");
      });
    });
  </script>

  <div class="container">
      {% if groups %}
        <div class="alert alert-info" role="alert">Click on a row to modify it or click the Add button to add a new one</div>
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
            <th>Group Name</th>
          </tr>
          {% for group in groups %}
            <tr class="clickable-row" data-href="{{ url_for('show_group', id=group.id) }}">
              <td><a href="#">{{ group.group_name }}</a></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div class="alert alert-info" role="alert">No groups found</div>
      {% endif %}
      <a class="btn btn-default" role="button" href="{{ url_for('add_group') }}">Add</a>
  </div>

{% endblock %}
