{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <label>Username</label>
      <p>{{ data['username'] }}</p>
    </div>
    <div class="col-sm-4">
      <label>Role</label>
      <p>{{ data['role'] }}</p>
    </div>
    <div class="col-sm-4">
      <label>Groups</label>
      <ol>
        {% for group in data['groups'] %}
          <li>{{ group }}</li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

{% endblock %}
