{% extends 'layout.html' %}

{% block title %}User{% endblock %}

{% block body %}

  <script>
    window.onload = function() {
      document.getElementById('deleteLink').onclick = function() {
        var answer = confirm("Are you sure you wish to delete this user?");
        if (answer) {
          window.location = "{{ url_for('delete_user', id=data['user'].User.id) }}";
        } else {
          return;
        }
      };
    };
  </script>

  <div class="container">
    <form action="" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" class="form-control" name="id" value="{{ data['user'].User.id }}">
      <label>Username</label>
      <input type="text" class="form-control" placeholder="Username" name="username" value="{{ data['user'].User.username }}">
      <br>
      <label>Role</label>
      <select class="form-control" name="role">
        <option value="{{ data['roles'].ADMIN.value }}"
          {% if data['roles'].ADMIN.value == data['user'].User.role_id %}
            {{ 'selected' }}
          {% endif %}>
           {{ data['roles'].ADMIN.name.capitalize() }}
        </option>
        <option value="{{ data['roles'].USER.value }}"
          {% if data['roles'].USER.value == data['user'].User.role_id %}
            {{ 'selected' }}
          {% endif %}>
          {{ data['roles'].USER.name.capitalize() }}
        </option>
      </select>
      <br>
      {% if data['groups'] %}
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
            <th>Group Name</th>
            <th>Add/Remove</th>
          </tr>
          {% for g_id, g_name, user_in_group in data['groups'] %}
            <tr>
              <td>{{ g_name }}</td>
              <td><input type="checkbox" name=group value="{{ g_id }}"
                  {% if user_in_group %}checked{% endif %}
                ></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div class="alert alert-info" role="alert">No groups found</div>
      {% endif %}
      <br>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
    <br>
    <a id="deleteLink" class="btn btn-danger" role="button">Delete</a>
  </div>

{% endblock %}
